@font-face {
    font-family: 'Reborn';
    src: url('/static/fonts/Reborn.otf') format('opentype');
}

@font-face {
    font-family: 'Hero-Regular';
    src: url('/static/fonts/Hero-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Hero-Bold';
    src: url('/static/fonts/Hero-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Hero-Light';
    src: url('/static/fonts/Hero-Light.otf') format('opentype');
}

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('/static/fonts/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'JosefinSans-Thin';
    src: url('/static/fonts/JosefinSans-Thin.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo h1 {
    font-family: 'Reborn', sans-serif;
    font-size: 15px;
    color: #e3e3e3;
    margin-left: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-family: 'Hero-Regular', sans-serif;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Hero-Regular', sans-serif;
    font-size: 18px;
    transition: 1s;
}

header a {
    color: #fff;
    text-decoration: none;
    font-family: 'Reborn', sans-serif;
    font-size: 18px;
    transition: 1s;
}

header nav ul li a:hover {
    color: #374092;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url('/static/imgs/comunidades_section.png');
    background-size: cover;
    background-position: center;
}

.logo2 {
    position: absolute;
    color: white;
    background: rgba(116, 100, 157, 0.4);
    padding: 15px;
    border-radius: 10px;
    z-index: 2;
}

.logo2 h2 {
    font-family: 'Hero-Light', sans-serif;
    font-size: 38px;
    text-align: left;
}

#pgnc {
    font-family: 'Reborn', sans-serif;
    font-size: 28px;
    text-align: left;
}

.conteudo {
    text-align: left;
    padding: 60px 60px;
    background-color: #f9f9f9;
}

.conteudo h2 {
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Hero-Light', sans-serif;
}

.item-conteudo, .item-conteudo-invertido {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    gap: 10px; 
    min-height: 200px; 
}

.item-conteudo-invertido {
    flex-direction: row-reverse; 
}
.Texto2{
    margin-left: 65%;
}
.texto-esquerda, .texto-direita {
    width: 55%; 
    font-family: 'Hero-Light', sans-serif;
    text-align: justify;
    margin: 0;
}

.imagem-direita, .imagem-esquerda {
    width: 20%; 
    height: auto;
}

/* Responsividade */
@media (max-width: 768px) {
    .item-conteudo, .item-conteudo-invertido {
        flex-direction: column; /* Imagem e texto empilham em telas menores */
        text-align: center;
    }

    .imagem-direita, .imagem-esquerda {
        width: 80%; /* Imagens maiores em telas pequenas */
    }

    .texto-esquerda, .texto-direita {
        width: 100%; /* Textos ocupam toda a largura */
    }
}



/* Footer */
.footer {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 40px 20px;
    text-align: left;
    font-family: 'Hero-Light', sans-serif;
    position: relative;
}

.footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #374092;
    z-index: -1;
}

.footer-section {
    margin-bottom: 30px;
}

.footer-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.social-icons a img {
    width: 40px;
    height: 40px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;
}

.social-icons a img:hover {
    transform: scale(1.2);
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
}

.contact-info a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.contact-info a:hover {
    text-decoration: underline;
}
