@font-face {
    font-family: 'Reborn';
    src: url('/static/fonts/Reborn.otf') format('opentype');
}

@font-face {
    font-family: 'Hero-Regular';
    src: url('/static/fonts/Hero-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Hero-Bold';
    src: url('/static/fonts/Hero-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Hero-Light';
    src: url('/static/fonts/Hero-Light.otf') format('opentype');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f1ebe5;
    color: #333;
    padding-top: 120px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo img {
    width: 80px;
}

.logo h1 {
    font-family: 'Reborn', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block; 
    vertical-align: top;
    text-align: left;
    color:#fff;
}


header .logo {
    display: flex;
    align-items: center;
}

h2{
    font-family: 'Reborn', sans-serif;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 1s;
}

header nav ul li a:hover {
    color: #769d64; 
}

.receita-detalhes {
    margin: 40px auto;
    max-width: 1200px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b3ca84;
    padding: 20px;
}

.banner img {
    width: 50%;
}

.receita-info {
    width: 40%;
}

.receita-info h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.ingredientes-preparo {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.ingredientes, .modo-preparo {
    width: 45%;
}

h3 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Reborn', sans-serif;
}

ul, ol {
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
