<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home_styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <h1> <a href="/home">GNC</a></h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#conteudo">Conteúdo</a></li>
                <li><a href="/cadastro">Perfil</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="banner">
            <div class="logo2">
                <h2>Bem vindo </h2> <br> <p id="pgnc"> AO GNC </p>
                <p>UMA CONEXÃO ALÉM DOS PIXELS DAS TELAS</p>
            </div>
        </section>

        <section id="conteudo" class="conteudo">
            <h2>O QUE DESEJA LER HOJE?</h2>
            <div class="conteudo-container">
                <!-- Card 1 -->
                <a href="/Vida Digital" class="card">
                    <img src="../static/imgs/vida_digital.png" alt="Vida Digital">
                    <div class="card-title">Vida Digital</div>
                </a>
                <!-- Card 2 -->
                <a href="/video-jogos" class="card">
                    <img src="../static/imgs/728px-What_video_game(1).png" alt="Vídeo Jogos">
                    <div class="card-title">Vídeo Jogos</div>
                </a>
            </div>
        </section>
        
        
    </main>

    <footer>
        <p>&copy; 2024 A Cantina Esnupi - Todos os direitos reservados</p>
    </footer>
</body>
</html>
