<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="loginBody">
    <div class="login-container">
        <div class="login-box">
            <div class="logo">
                <h1>G<br>
                    N 
                    <br>
                    C</h1>
                <p>UMA CONEXÃO ALÉM DOS PIXELS</p>
            </div>
            <form method="POST" action="/">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>

                <button type="submit" href="/home">Entrar</button>
            </form>
            <p>Não tem uma conta? <a href="/cadastro">Registre-se</a></p>
            <p><a href="/home">Entrar sem uma conta</a></p>
        </div>
    </div>

    <div class="footer">
        <footer>

        </footer>
    </div>

</body>
</html>
