<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Cantina Esnupi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="loginBody">
    <div class="login-container">
        <div class="login-box">
            <div class="logo">
                <img src="../static/img/imagem_2024-09-28_215205816-removebg-preview.png" alt="Logo">
                <h1>A <br>
                    Cantina <br>
                    Esnupi</h1>
                <p>RECEITAS DE QUALIDADE FEITAS COM MUITO AMOR</p>
            </div>
            <form method="POST" action="/">
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>

                <button type="submit">Entrar</button>
            </form>
            <p>Não tem uma conta? <a href="/cadastro">Registre-se</a></p>
            <p><a href="/sucesso">Entrar sem uma conta</a></p>
        </div>
    </div>

    <div class="footer">
        <footer>

        </footer>
    </div>

</body>
</html>
